body {
    background-color: rgb(0, 140, 255);
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: sans-serif;
    font-size: 50px;
    
}

#title {
    background-color: orange;
    height: 50px;
    margin-bottom: 30px;

    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 20px;
    color: white;

}

#enter {
    color: blue;
}

.textbox{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin: 0 10px;
    flex: 2 1 80%;
}

.submit_button{
    background-color: rgb(29, 209, 29);
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 30px;
}

.enter_area{
    background-color: rgb(185, 183, 183);
    border: 5px solid black;
    border-radius: 50px;
    padding: 10px 0;
    margin: 0 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
}

#refresh_button{
    margin: 30px 0;
    display: block;
    margin: 30px auto;
    width: 75%;
    height: 50px;
    border: 5px solid black;
    border-radius: 50px;
    font-size: large;
    background-color: greenyellow;
}

#list{

    margin: 50px 30px;
    background-color: white;
    min-height: 30px;
    border-radius: 5px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;

}

#list > ul{
    margin: 5px 10px;
    
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 30px;
    width: 75%;
    color: white;
    border: 3px solid black;
    font-family: sans-serif;
    
}

.foreign_task{
    background-color: rgb(0, 225, 255);
    grid-column: 1;
}

.local_task{
    background-color: rgb(240, 101, 8);
    grid-column: 2;
    grid-row: auto;
}